<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hotel.cn.dao.SearchHotelMapper">

    <!--查询酒店房间-->
    <select id="searchHotel" resultType="com.hotel.cn.bean.HotelBean">
        select * from hotel
    </select>

</mapper>